@import '../../styles/default.scss';

.column {
	padding: 20px 0px;
	margin:0px 20px;
	align-items: flex-start;
	flex:1;
	flex-direction: column;

	.column__title {
		padding:10px;
		background-color:$secondary;
		text-align: center;
		font-weight: 500;
		display:block;
		margin-bottom:50px;
	}
}